<div class="text-center">
  <h2>New Post Page</h2>
  {{!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> --}}
  <p>
      <form id="submitPostBtn">
          <input type="text" name="title" id="newPostTitle" />
          <textarea name="text" id="newPostTextArea"></textarea>
          <button type="submit" class="btn btn-primary">Create Post</button>
      </form>      
  </p>
</div>

<script src="/js/post.js"></script>